html
    head
        title Sopping mall queues
        //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        style.
            th{
                margin-left:100px;
                padding-left:10px;    
                color:blue;
            }
            td {
                vertical-align: top;
                padding-left:10px;    
                text-align:center;
                font-size:30px;
            }
            input{
                display:inline;
                float:left;
            }
            table{
                font-size:20px
            }
            div{
                font-size:"20px"
            }
        
        basefont(size="16px")

    body
        h1  Shopping Experience Survey
        //- p(style={padding:'20px'}).
        //-         Imagine you are in a retail grocery store (Super market) to buy your day to day requirements. Upon
        //-         buying the required products you come in to the counter area and witness 3 service queues
        //- .container
        //-     .col 
        table(style={margin:'10px','margin-top':'20px'})
            tr#headtag
                th Queue
                th.a A
                th.b B
                th.c C
            tr
                td
                td
                    img(src="/images/cashier.png" style="width:40;height:40")
                td
                    img(src="/images/cashier.png" style="width:40;height:40")
                td
                    img(src="/images/cashier.png" style="width:40;height:40")
            tr  
                th 
                td.a#a-q
                td.b#b-q
                td.c#c-q
            if(show=='true')
                tr  
                    th  Service Rate
                    td.a#a-sr 55/hr
                    td.b#b-sr 42/hr
                    td.c#c-sr 38/hr
        font(size="+2")
            .container#queue1(style="display:block;padding:5px;position:relative;left:5%")
                |1) Which queue do you join? 
                br
                br
                //- label.radio-inline
                input(type="radio" name="queue" value="A" class="queue1")
                input(type="radio" name="queue" value="B" class="queue1")
                input(type="radio" name="queue" value="C" class="queue1")
                br
                p(style="margin-left:10px") A B C

            .container#optionsBox1(style="display:none;padding:5px;position:relative;;left:5%")
                |2) Your queue is experiencing delays. Your waiting time may change. 
                | You have the following options. 

                .row
                    input(type="radio" id="radioA" name="option1" value="1" class="option1")
                    p.
                        Remain on the same queue
    
                .row
                    input(type="radio" id="radioB" name="option1" value="2" class="option1")
                    p.
                        Choose to move to a different queue
                    .row#queue2(style="margin-left:25px;display:none")
                        input(type="radio" name="queue" value="A" class="queue2")
                        input(type="radio" name="queue" value="B" class="queue2")
                        input(type="radio" name="queue" value="C" class="queue2") 
                        br
                        p(style="margin-left:10px") A B C                   

            
            .container#optionsBox2(style="display:none;padding:5px;position:relative;;left:5%")
                |3) It seems others are jockeying. (A customer enters one line and then switches to a different one in an effort to reduce the waiting time.)
                | You have the following options. 

                .row
                    input(type="radio" id="radioA" name="option2" value="1" class="option2")
                    p.
                        Remain on the same queue
    
                .row
                    input(type="radio" id="radioB" name="option2" value="2" class="option2")
                    p.
                        Choose to move to a different queue
                    .row#queue3(style="margin-left:25px;display:none")
                        input(type="radio" name="queue" value="A" class="queue3")
                        input(type="radio" name="queue" value="B" class="queue3")
                        input(type="radio" name="queue" value="C" class="queue3") 
                        br
                        p(style="margin-left:10px") A B C 

            .container#optionsBox3(style="display:none;padding:5px;position:relative;;left:5%")
                |4) Your queue is experiencing delays. Your waiting time may change. 
                | You have the following options. 

                .row
                    input(type="radio" id="radioA" name="option3" value="1" class="option3")
                    p.
                        Remain on the same queue
    
                .row
                    input(type="radio" id="radioB" name="option3" value="2" class="option3")
                    p.
                        Choose to move to a different queue
                    .row#queue4(style="margin-left:25px;display:none")
                        input(type="radio" name="queue" value="A" class="queue4")
                        input(type="radio" name="queue" value="B" class="queue4")
                        input(type="radio" name="queue" value="C" class="queue4") 
                        br
                        p(style="margin-left:10px") A B C                   

            
            .container#optionsBox4(style="display:none;padding:5px;position:relative;;left:5%")
                |5) It seems others are jockeying. (A customer enters one line and then switches to a different one in an effort to reduce the waiting time.)
                | You have the following options. 

                .row
                    input(type="radio" id="radioA" name="option4" value="1" class="option4")
                    p.
                        Remain on the same queue
    
                .row
                    input(type="radio" id="radioB" name="option4" value="2" class="option4")
                    p.
                        Choose to move to a different queue
                    .row#queue5(style="margin-left:25px;display:none")
                        input(type="radio" name="queue" value="A" class="queue5")
                        input(type="radio" name="queue" value="B" class="queue5")
                        input(type="radio" name="queue" value="C" class="queue5") 
                        br
                        p(style="margin-left:10px") A B C 

            button(id="continueButton" type="button" onclick="display_message()" style="display:none;margin-top:20px;margin-left:10px;font-size:16px")="Continue"
            button(id="submitButton" type="button" onclick="save()" style="display:none;margin-top:20px;margin-left:10px;font-size:16px")="Submit"

        script.
            var vals=[];
            max_no=10;
            //- surveyId=Math.floor(Math.random()*10000);
            surveyId=localStorage.getItem('surveyId');

            lockLine=-1;
            minimum_ppl=2;

            debugMode=false;

            window.onload = function start() {
                run();
            }

            if(!debugMode){
                q1Time=120000
                q2Time=240000
                q3Time=120000
                initialTime=180000
            }else{
                q1Time=500
                q2Time=500
                q3Time=500
                initialTime=500
            }

            function setup(){
                head_image="<img src='/images/head.jpg' style='height:35;width:35;margin-top:5px'/><br>"
                a_txt=""; b_txt=""; c_txt="";
                for(i=0;i<vals[0];i++){
                    a_txt+=head_image;    //"#<br>"
                }
                for(i=0;i<vals[1];i++){
                    b_txt+=head_image;
                }
                for(i=0;i<vals[2];i++){
                    c_txt+=head_image;
                }


                $('#a-q').html(a_txt);
                $('#b-q').html(b_txt);
                $('#c-q').html(c_txt);

                //console.log(a,b,c);
            }

            function display_message(){
                alert('We acknowledge your selection. Please wait patiently till you are served in the queue');
                $("#continueButton").attr("disabled",true);
            }

            function run(){
                //- vals[0]=1+Math.floor(Math.random()*10)%max_no;
                //- vals[1]=1+Math.floor(Math.random()*10)%max_no;
                //- vals[2]=1+Math.floor(Math.random()*10)%max_no;
                vals[0]=8; //a
                vals[1]=5; //a
                vals[2]=7; //a
                setup();

                window.setInterval(function () {    //add people 
                    n=Math.floor(Math.random()*10)%3;
                    //
                    if(vals[n]<6 && n!=lockLine){
                        //console.log(vals[n]);
                        vals[n]++;
                    }else{
                        vals[(n+1)%3]++;
                    }
                    setup();
                }, 90000); 


                window.setInterval(function () {    //a change 
                    //
                    if(vals[0]>minimum_ppl){
                        //console.log(vals[n]);
                        vals[0]--;
                    }
                    setup();
                }, 65454); 

                window.setInterval(function () {    //b change
                    if(vals[1]>minimum_ppl){
                        //console.log(vals[n]);
                        vals[1]--;
                    }
                    setup();
                }, 85714); 

                window.setInterval(function () {    //c change
                    if(vals[2]>minimum_ppl){
                        //console.log(vals[n]);
                        vals[2]--;
                    }
                    setup();
                }, 65000); 

                setTimeout(function(){
                    $('#queue1').show();
                },1000);


            }


            function save(){
                queue1=$('.queue1:checked').val()
                option1=$('.option1:checked').val()

                queue2=$('.queue2:checked').val()
                option2=$('.option2:checked').val()

                queue3=$('.queue3:checked').val()
                option3=$('.option3:checked').val()

                queue4=$('.queue4:checked').val()
                option4=$('.option4:checked').val()

                queue5=$('.queue5:checked').val()

                data={
                    survey_id:surveyId,
                    datetime: (new Date()).toString(),
                    show_service_rate:'#{show}' ,
                    queue1:queue1,
                    option1:option1,
                    
                    queue2:queue2,
                    option2:option2,
                    
                    queue3:queue3,
                    option3:option3,

                    queue4:queue4,
                    option4:option4,

                    queue5:queue5
                    };


                    $.post("/save", data,function(data,status){
                        alert("ok "+status+" "+JSON.stringify(data));
                        $(location).attr('href','/f?id='+surveyId);
                    })

                //- alert(JSON.stringify(data));
            }
                
                $("input[class='queue1'").change(function(){
                    $('.queue1').attr('disabled',true); // make ABC radio buttons disabled
                    $("#continueButton").attr("disabled",false);
                    $('#continueButton').show();
                    setTimeout(function(){
                        //name=$("#name").val();
                        //$(location).attr('href','/q1?name='+name);
                        $('#optionsBox1').show();
                        $('#queue1').hide();
                    },initialTime);  //option box 1 view time
                })

                $("input[name='queue'").change(function(){
                    switch(this.value){
                        case 'A':
                            $('.a').css({'border':'2px solid red'});
                            $('.b').css({'border':''});
                            $('.c').css({'border':''});
                            lockLine=0;
                            break;
                        case 'B':
                            $('.b').css({'border':'2px solid red'});
                            $('.a').css({'border':''});
                            $('.c').css({'border':''});
                            lockLine=1;
                            break;
                        case 'C':
                            $('.c').css({'border':'2px solid red'});
                            $('.a').css({'border':''});
                            $('.b').css({'border':''});
                            lockLine=2;
                            break;
                    }
                })

                $("input[name='option1'").change(function(){ // option set 1
                    $('.option1').attr('disabled',true);
                    $("#continueButton").attr("disabled",false);
                    $('#continueButton').show();
                    switch(this.value){
                        case '1':
                            $('#queue2').hide();                            
                            
                            break;
                        case '2':
                            $('#queue1').hide();
                            $('#queue2').show();
                            break;
                            
                    }
                    setTimeout(function(){
                        $('#optionsBox1').hide();
                        $('#optionsBox2').show();
                    },q1Time);
                });

                $("input[name='option2'").change(function(){ // option set 2
                    $('.option2').attr('disabled',true);
                    $("#continueButton").attr("disabled",false);
                    $('#continueButton').show();
                    switch(this.value){
                        case '1':
                            $('#queue3').hide();                            
                            $('#queue2').show();
                            break;
                        case '2':   // should wait until two ppl from the same line goes
                            $('#queue2').hide();
                            $('#queue3').show();
                            break;
                            
                    }
                    setTimeout(function(){       
                        $('#optionsBox2').hide();             
                        $('#optionsBox3').show();
                    },q2Time);
                });

                $("input[name='option3'").change(function(){ // option set 3
                    $('.option3').attr('disabled',true);
                    $("#continueButton").attr("disabled",false);
                    $('#continueButton').show();
                    switch(this.value){
                        case '1':
                            $('#queue4').hide();                            
                            $('#queue3').show();
                            break;
                        case '2':
                            $('#queue3').hide();
                            $('#queue4').show();
                            break;
                            
                    }
                    setTimeout(function(){
                        $('#optionsBox3').hide();
                        $('#optionsBox4').show();
                    },q3Time);
                });

                $("input[name='option4'").change(function(){ // option set 4
                    $('.option4').attr('disabled',true);
                    $("#continueButton").attr("disabled",false);
                    $('#continueButton').show();
                    minimum_ppl=0;
                    switch(this.value){
                        case '1':
                            $('#queue5').hide();                            
                            $('#queue4').show();
                            break;
                        case '2':   // should wait until two ppl from the same line goes
                            $('#queue4').hide();
                            $('#queue5').show();
                            break;
                            
                    }
                    
                    $('#submitButton').show();
                });